
# Projeto IA predições lotofacil
Carregar os dados dos sorteios anteriores e as combinações possíveis:
Carregue os dados dos sorteios anteriores em um DataFrame.
Carregue as combinações possíveis em outro DataFrame.

Preparar os dados para treinamento:
Divida os dados dos sorteios anteriores em features (os números sorteados) e target (se essa combinação foi vencedora ou não).
Talvez você queira normalizar ou fazer algum pré-processamento nos dados, dependendo do modelo que você irá usar.

Treinar o modelo:
Use os dados dos sorteios anteriores para treinar um modelo de classificação ou regressão, dependendo de como você deseja abordar o problema.
Você pode tentar diferentes algoritmos de machine learning, como Random Forest, SVM, ou mesmo uma rede neural.

Fazer previsões:
Use o modelo treinado para fazer previsões sobre todas as combinações possíveis.
Classifique as combinações com base nas previsões do modelo.

Selecionar as melhores combinações:
Selecione as 30 melhores combinações que ainda não foram sorteadas, de acordo com as previsões do modelo.

Evitar combinações repetidas:
Verifique se as combinações selecionadas não foram sorteadas anteriormente, para evitar repetições.

Retornar as 30 melhores combinações:
Retorne as 30 melhores combinações que ainda não foram sorteadas.

In [1]:
#IMPORTAR AS BIBLIOTECAS:
import pandas as pd
import itertools
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [2]:
#Criar DataFrame Sorteios passados
df = pd.read_excel(r'C:\Users\Concremat\Documents\VSCODE\well\data\lotofacil0904.xlsx')
df

,Concurso,Data,bola 1,bola 2,bola 3,bola 4,bola 5,bola 6,bola 7,bola 8,bola 9,bola 10,bola 11,bola 12,bola 13,bola 14,bola 15
0,3364,09/04/2025,2,6,7,10,11,12,13,14,18,20,21,22,23,24,25
1,3363,08/04/2025,3,5,8,9,11,13,15,16,17,18,19,20,22,24,25
2,3362,07/04/2025,1,2,3,4,6,10,11,13,14,15,16,21,22,23,24
3,3361,05/04/2025,1,2,5,8,9,10,11,13,16,17,18,20,22,23,24
4,3360,04/04/2025,1,2,3,4,6,8,9,10,11,16,17,20,21,23,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3359,5,27/10/2003,1,2,4,8,9,11,12,13,15,16,19,20,23,24,25
3360,4,20/10/2003,1,2,4,5,8,10,12,13,16,17,18,19,23,24,25
3361,3,13/10/2003,1,4,6,7,8,9,10,11,12,14,16,17,20,23,24
3362,2,06/10/2003,1,4,5,6,7,9,11,12,13,15,16,19,20,23,24
3363,1,29/09/2003,2,3,5,6,9,10,11,13,14,16,18,20,23,24,25

In [ ]:
# df = df.drop(columns=['Data','Ganhadores','Concurso'])
# df.info()

In [3]:
df = df[["bola 1", "bola 2", "bola 3", "bola 4", "bola 5", "bola 6", "bola 7", "bola 8", "bola 9", "bola 10", "bola 11", "bola 12", "bola 13", "bola 14", "bola 15"]]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3364 entries, 0 to 3363
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   bola 1   3364 non-null   int64
 1   bola 2   3364 non-null   int64
 2   bola 3   3364 non-null   int64
 3   bola 4   3364 non-null   int64
 4   bola 5   3364 non-null   int64
 5   bola 6   3364 non-null   int64
 6   bola 7   3364 non-null   int64
 7   bola 8   3364 non-null   int64
 8   bola 9   3364 non-null   int64
 9   bola 10  3364 non-null   int64
 10  bola 11  3364 non-null   int64
 11  bola 12  3364 non-null   int64
 12  bola 13  3364 non-null   int64
 13  bola 14  3364 non-null   int64
 14  bola 15  3364 non-null   int64
dtypes: int64(15)
memory usage: 394.3 KB

In [4]:
# Gerar todas as combinações possíveis da Lotofácil (de 1 a 25)
numeros_lotofacil = list(range(1, 26))
todas_combinacoes = list(itertools.combinations(numeros_lotofacil, 15))

# Criar um DataFrame para armazenar as combinações
df = pd.DataFrame(todas_combinacoes, columns=[f"D.{i}" for i in range(1, 16)])

# Exibir as primeiras linhas do DataFrame
print(df.head())

# Defina a função para formatar os números
def formatar_numero(numero):
    return f'{numero:.2f}'

# Configure a opção de formatação de ponto flutuante do pandas
pd.options.display.float_format = formatar_numero

# Exiba as estatísticas descritivas do DataFrame
print(df.describe())

   D.1  D.2  D.3  D.4  D.5  D.6  D.7  D.8  D.9  D.10  D.11  D.12  D.13  D.14  \
0    1    2    3    4    5    6    7    8    9    10    11    12    13    14
1    1    2    3    4    5    6    7    8    9    10    11    12    13    14
2    1    2    3    4    5    6    7    8    9    10    11    12    13    14
3    1    2    3    4    5    6    7    8    9    10    11    12    13    14
4    1    2    3    4    5    6    7    8    9    10    11    12    13    14

   D.15
0    15
1    16
2    17
3    18
4    19
             D.1        D.2        D.3        D.4        D.5        D.6  \
count 3268760.00 3268760.00 3268760.00 3268760.00 3268760.00 3268760.00
mean        1.62       3.25       4.88       6.50       8.12       9.75
std         0.95       1.29       1.53       1.69       1.81       1.89
min         1.00       2.00       3.00       4.00       5.00       6.00
25%         1.00       2.00       4.00       5.00       7.00       8.00
50%         1.00       3.00       5.00       6.00       8.00      10.00
75%         2.00       4.00       6.00       8.00       9.00      11.00
max        11.00      12.00      13.00      14.00      15.00      16.00

             D.7        D.8        D.9       D.10       D.11       D.12  \
count 3268760.00 3268760.00 3268760.00 3268760.00 3268760.00 3268760.00
mean       11.38      13.00      14.62      16.25      17.88      19.50
std         1.94       1.96       1.94       1.89       1.81       1.69
min         7.00       8.00       9.00      10.00      11.00      12.00
25%        10.00      12.00      13.00      15.00      17.00      18.00
50%        11.00      13.00      15.00      16.00      18.00      20.00
75%        13.00      14.00      16.00      18.00      19.00      21.00
max        17.00      18.00      19.00      20.00      21.00      22.00

            D.13       D.14       D.15
count 3268760.00 3268760.00 3268760.00
mean       21.12      22.75      24.38
std         1.53       1.29       0.95
min        13.00      14.00      15.00
25%        20.00      22.00      24.00
50%        21.00      23.00      25.00
75%        22.00      24.00      25.00
max        23.00      24.00      25.00

In [5]:
df

,D.1,D.2,D.3,D.4,D.5,D.6,D.7,D.8,D.9,D.10,D.11,D.12,D.13,D.14,D.15
0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
1,1,2,3,4,5,6,7,8,9,10,11,12,13,14,16
2,1,2,3,4,5,6,7,8,9,10,11,12,13,14,17
3,1,2,3,4,5,6,7,8,9,10,11,12,13,14,18
4,1,2,3,4,5,6,7,8,9,10,11,12,13,14,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3268755,10,11,12,13,15,16,17,18,19,20,21,22,23,24,25
3268756,10,11,12,14,15,16,17,18,19,20,21,22,23,24,25
3268757,10,11,13,14,15,16,17,18,19,20,21,22,23,24,25
3268758,10,12,13,14,15,16,17,18,19,20,21,22,23,24,25
3268759,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25

In [ ]:
# Criar características dos números sorteados
df['Soma_Numeros'] = df.loc[:, 'D.1':'D.15'].sum(axis=1)  # Soma dos números sorteados
df['Media_Numeros'] = df.loc[:, 'D.1':'D.15'].mean(axis=1)  # Média dos números sorteados
df['Pares'] = df.loc[:, 'D.1':'D.15'].apply(lambda row: sum(1 for num in row if num % 2 == 0), axis=1)  # Quantidade de números pares
df['Impares'] = df.loc[:, 'D.1':'D.15'].apply(lambda row: sum(1 for num in row if num % 2 != 0), axis=1)  # Quantidade de números ímpares

# Exemplo de criação de uma nova característica com base na soma dos dois primeiros números sorteados
df['Soma_Primeiros_Numeros'] = df['D.1'] + df['D.2']

# Função para contar números primos
def contar_primos(numeros):
    primos = 0
    for num in numeros:
        if num > 1:
            for i in range(2, num):
                if (num % i) == 0:
                    break
            else:
                primos += 1
    return primos

# Contagem de números primos por jogo
df['Numeros_Primos'] = df.loc[:, 'D.1':'D.15'].apply(contar_primos, axis=1)

# Função para encontrar a maior sequência de números em cada jogo
def maior_sequencia(numeros):
    max_sequencia = 0
    sequencia_atual = 0
    for i in range(len(numeros) - 1):
        if numeros[i + 1] - numeros[i] == 1:
            sequencia_atual += 1
        else:
            if sequencia_atual > 0:
                max_sequencia = max(max_sequencia, sequencia_atual)
            sequencia_atual = 0
    return max_sequencia + 1  # Adicionando 1 porque estamos considerando a sequência atual como não sequencial no loop

# Maior sequência de números por jogo
df['Maior_Sequencia'] = df.loc[:, 'D.1':'D.15'].apply(lambda row: maior_sequencia(sorted(row)), axis=1)

# Adicionar características adicionais ao conjunto de dados
df['Desvio_Padrao'] = df.loc[:, 'D.1':'D.15'].std(axis=1)  # Desvio padrão dos números sorteados
df['Mediana'] = df.loc[:, 'D.1':'D.15'].median(axis=1)  # Mediana dos números sorteados
df['Moda'] = df.loc[:, 'D.1':'D.15'].mode(axis=1).iloc[:, 0]  # Moda dos números sorteados

# Adicionar a variância dos números sorteados
df['Variância'] = df.loc[:, 'D.1':'D.15'].var(axis=1)  # Variância dos números sorteados

# Adicionar um histograma como uma característica
df['Histograma'] = df.loc[:, 'D.1':'D.15'].apply(lambda row: [row.tolist().count(i) for i in range(1, 26)], axis=1)  # Histograma dos números sorteados

# Exibir as primeiras linhas do DataFrame com as novas características
print(df.head())

In [ ]:
df.describe()

In [ ]:
# Criar características dos números sorteados
df['Soma_Numeros'] = df.loc[:, 'D.1':'D.15'].sum(axis=1)  # Soma dos números sorteados
df['Media_Numeros'] = df.loc[:, 'D.1':'D.15'].mean(axis=1)  # Média dos números sorteados
df['Pares'] = df.loc[:, 'D.1':'D.15'].apply(lambda row: sum(1 for num in row if num % 2 == 0), axis=1)  # Quantidade de números pares
df['Impares'] = df.loc[:, 'D.1':'D.15'].apply(lambda row: sum(1 for num in row if num % 2 != 0), axis=1)  # Quantidade de números ímpares

# Exemplo de criação de uma nova característica com base na soma dos dois primeiros números sorteados
df['Soma_Primeiros_Numeros'] = df['D.1'] + df['D.2']

# Função para contar números primos
def contar_primos(numeros):
    primos = 0
    for num in numeros:
        if num > 1:
            for i in range(2, num):
                if (num % i) == 0:
                    break
            else:
                primos += 1
    return primos

# Contagem de números primos por jogo
df['Numeros_Primos'] = df.loc[:, 'D.1':'D.15'].apply(contar_primos, axis=1)

# Função para encontrar a maior sequência de números em cada jogo
def maior_sequencia(numeros):
    max_sequencia = 0
    sequencia_atual = 0
    for i in range(len(numeros) - 1):
        if numeros[i + 1] - numeros[i] == 1:
            sequencia_atual += 1
        else:
            if sequencia_atual > 0:
                max_sequencia = max(max_sequencia, sequencia_atual)
            sequencia_atual = 0
    return max_sequencia + 1  # Adicionando 1 porque estamos considerando a sequência atual como não sequencial no loop

# Maior sequência de números por jogo
df['Maior_Sequencia'] = df.loc[:, 'D.1':'D.15'].apply(lambda row: maior_sequencia(sorted(row)), axis=1)

# Adicionar características adicionais ao conjunto de dados
df['Desvio_Padrao'] = df.loc[:, 'D.1':'D.15'].std(axis=1)  # Desvio padrão dos números sorteados
df['Mediana'] = df.loc[:, 'D.1':'D.15'].median(axis=1)  # Mediana dos números sorteados
df['Moda'] = df.loc[:, 'D.1':'D.15'].mode(axis=1).iloc[:, 0]  # Moda dos números sorteados

# Adicionar a variância dos números sorteados
df['Variância'] = df.loc[:, 'D.1':'D.15'].var(axis=1)  # Variância dos números sorteados

# Adicionar um histograma como uma característica
df['Histograma'] = df.loc[:, 'D.1':'D.15'].apply(lambda row: [row.tolist().count(i) for i in range(1, 26)], axis=1)  # Histograma dos números sorteados

# Exibir as primeiras linhas do DataFrame com as novas características
print(df.head())

In [ ]:
df.describe()

In [ ]:
# Calcular a pontuação para cada combinação possível com base na diferença entre as características
def calcular_pontuacao(comb):
    # Converter a combinação para DataFrame
    comb_df = pd.DataFrame([comb], columns=[f"D.{i}" for i in range(1, 16)])
    # Calcular a diferença absoluta média para cada característica
    diffs = df.sub(comb_df.iloc[0]).abs().mean(axis=1)
    # Retornar a média das diferenças como a pontuação
    return diffs.mean()

# Calcular a pontuação para cada combinação possível
df['Pontuacao'] = df.apply(calcular_pontuacao, axis=1)

# Selecionar as 30 melhores combinações
melhores_combinacoes = df.sort_values(by='Pontuacao').head(30)

# Exibir as melhores combinações
print(melhores_combinacoes)

In [ ]:
# Inicializar o modelo de Floresta Aleatória
modelo = RandomForestRegressor(random_state=42)

# Treinar o modelo
modelo.fit(X_train, y_train)

# Fazer previsões para o conjunto de teste
previsoes = modelo.predict(X_test)

# Avaliar o desempenho do modelo usando o erro médio quadrático (MSE)
mse = mean_squared_error(y_test, previsoes)
print("Erro Médio Quadrático (MSE):", mse)